<%- include("partials/header") %>
<div class="container" id="expression">
    <h1 style="text-align: center;">Our Services</h1>
    <p>voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
            <div class="card" id="cardit" style="width: 100%;" >
                <img src="/public/assets/electric2.jpg" style="height: 15rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Buy Electricity</h5>
                  <p class="card-text">The quickest way to purchase and pay for electric bills right at your finger tips</p>
                  <a href="/merchant/verify" class="btn btn-dark">Proceed</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
            <div class="card" id="cardit" style="width: 100%;">
                <img src="/public/assets/electric2.jpg" style="height: 15rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Buy Electricity</h5>
                  <p class="card-text">The quickest way to purchase and pay for electric bills right at your finger tips</p>
                  <a href="#" class="btn btn-dark">Proceed</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
            <div class="card" id="cardit" style="width: 100%;">
                <img src="/public/assets/electric2.jpg" style="height: 15rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Buy Electricity</h5>
                  <p class="card-text">The quickest way to purchase and pay for electric bills right at your finger tips</p>
                  <a href="#" class="btn btn-dark">Proceed</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>