<%- include("partials/header") %>

<div class="container" id="buyform">
  <div class="card text-center">
   <div class="card-body">
    <h5 class="card-title">Electricity Token</h5>
    <p class="card-text"><%= token %></p>
    <a href="/index" class="btn btn-primary">Go back</a>
   </div>
  </div>
</div>
  
<%- include("partials/footer") %>